doctype html 
html(lang="en")
    head 
        title Minneapolis! 
        meta(charset="utf-8")
        link(rel="stylesheet",href="/resources/css/main.css")
        script(src="/resources/js/main.js")
        script(src="/resources/js/salebanner.js")
    body 
        include navbar
        div#banner.banner

        h1 Minneapolis 
        h2 Welcome to the Twin Cities! 
        img(src="/resources/images/main.png",alt="Interior")
        div.content 
            p 
                em Minnesota 
                | often dubbed the 
                strong "Land of 10,000 Lakes,"
                | is a state of natural beauty and cultural richness. 
                | Its breathtaking landscapes encompass lakes, forests, and plains, attracting outdoor enthusiasts year-round. 
                | The state also boasts iconic attractions like the Mall of America and a thriving arts scene, including the renowned Guthrie Theater.
            p Some great resteraunts to eat at: 
            ol 
                li Shuang Cheng 
                li Fogo De Chao 
                li Manny's 
            p Minnesota's robust economy thrives in sectors like healthcare, technology, and agriculture, 
                | primarily driven by the Twin Cities, Minneapolis, and St. Paul. These cities offer an exceptional quality of life, 
                | with strong education and job opportunities. The state's commitment to education is further reflected in its numerous 
                | colleges and universities, making it a hub for learning and research. With its diverse offerings, Minnesota invites 
                | residents and visitors alike to explore its natural wonders and cultural treasures.
                
                