div.nav 
            div 
                a(href="http://localhost:4131/") Main Page
            div 
                a(href="http://localhost:4131/contact") Contact Us
            div 
                a(href="http://localhost:4131/testimonies") Testimonials
            div 
                a(href="http://localhost:4131/admin/contactlog") Contact Log
            div 
                button(id="themeToggle") Toggle Theme 