doctype html
html(lang="en")
    head
        title Testimonials
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/resources/css/main.css')
        script(src='/resources/js/main.js')
    body 
        include navbar
    iframe(width='956' height='538' src='https://www.youtube.com/embed/0BV9nIWL8lc' title='Minneapolis, Minnesota | 4K Drone Footage' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
    div.reviews
        .review
            p.review-body
            | Beyond beauty! Which drone is that that delivery such great pictures at night?
            | Congratulations to this masterpiece! Excellent editing (once again, too)!
            p.reviewer-name @OneManWolfPack
        .review
            p.review-body
            | Magnifiscent aerial views! Thank you for sharing.
            p.reviewer-name @IlhanArikanTA5A
        .review
            p.review-body
            | Beautiful footage! Looking to move to Minneapolis in August. Thanks for the lovely video.
            p.reviewer-name @veilofmayaa
        .review
            p.review-body
            | I&apos;ve never been to Minneapolis, it&apos;s a beautiful city!
            p.reviewer-name @onetuliptree
        .review
            p.review-body
            | Amazing video I loved the wide shot of the old bridge - liked and fully watched
            p.reviewer-name @Nathan.Manchester
